@import "yuki.scss";

#page-dataset {
  h2 {
    margin-top: 0;
    img {
      height: 2em;
      margin-right: 10px;
    }
  }
  #map {
    display: none;
    height: 600px;
  }

  #yuki-viz-tools {
    margin-right: 15px;
  }

  #table-container {
    margin-top: 25px;
    thead th {
      cursor: pointer;
      white-space: nowrap;
    }
    ul.pagination {
      li {
        a {
          cursor: pointer;
        }
        &.disabled {
          a {
            cursor: not-allowed;
          }
        }
      }
    }
  }
}