
.page-home {
  .navbar-form {
    display: none;
  }
  #hero {
    background: url(../images/skyline-davebloggs007-14389618573-blur-crop-1140-35.jpg) center top/cover no-repeat;
    h1{
      color:#FFFFFF;
    };
  }
  .twitter-typeahead {
    .tt-input {
      height: 46px;
    }
  }
}
