#page-results {
  h2 {
    min-height: 34px;
  }
  .table-responsive {
    min-height: 778px;
    tbody tr {
      cursor: pointer;
      &.loading {
        background-color: #fff;
        .progress {
          margin-top: 20px;
        }
      }
    }
  }
}
