<div class="jumbotron" id="hero">
  <h1 class="page-header">My Open Data</h1>


  <p>
    <div class="input-group input-group-lg">
      <label class="sr-only" for="search">Search</label>
      <input type="search" name="search" id="search" class="form-control" placeholder="search for open data">
      <span class="input-group-btn">
        <button id="search-btn" class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </span>
    </div>
  </p>

</div>
